---
import { Icon } from 'astro-icon/components'

interface Props {
  href: string
}

const { href } = Astro.props
---

<a
  class="text-indigo-600 hover:text-indigo-900 mr-3"
  href={ href }
>
  <Icon name="mdi:pencil" size={ 20 } />
</a>
