---
import { Icon } from 'astro-icon/components'
import AuthLayout from '@/modules/auth/layouts/AuthLayout.astro'

---

<AuthLayout>
  <div class="min-h-screen w-full flex items-center justify-center bg-gray-100 p-4">
    <div class="w-full max-w-4xl flex rounded-lg shadow-2xl overflow-auto flex-col-reverse md:flex-row">
      <div class="w-full md:w-1/2 bg-white p-12 flex flex-col justify-between">
        <div>
          <h1 class="text-4xl font-bold text-gray-800 mb-6">QualitySoft 🚀</h1>
          <p class="text-xl text-gray-600 mb-8">Bienvenido a nuestra plataforma de innovación tecnológica</p>
          <div class="flex flex-col gap-4">
            <Icon name="mdi:rocket" size={ 30 } />Soluciones de vanguardia
            <Icon name="mdi:shield-check" size={ 30 } />Seguridad de primer nivel
            <Icon name="mdi:cog" size={ 30 } />Personalización avanzada
          </div>
        </div>
        <div class="mt-8">
          <img
            src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f3079065302403.5c7536075b74a.gif"
            alt="Tech Innovation"
            class="w-full rounded-lg shadow-md"
          />
        </div>
      </div>

      <div class="w-1 bg-blue-500"></div>

      <div class="w-full md:w-1/2 bg-white p-12 flex flex-col justify-center items-center">
        <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">
          Iniciar sesión <span class="text-blue-500">👋</span>
        </h2>
        <form
          class="space-y-6"
          id="signin-form"
        >
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">
              Correo electrónico
            </label>
            <div class="relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <Icon name="mdi:account" size={ 24 } class="text-gray-400" />
              </div>
              <input
                type="email"
                id="email"
                name="email"
                class="block w-full pl-10 pr-3 py-4 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                placeholder="tu@ejemplo.com"
              />
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700 mb-1">
              Contraseña
            </label>
            <div class="relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <Icon name="mdi:lock" size={ 24 } class="text-gray-400" />
              </div>
              <input
                type="password"
                id="password"
                name="password"
                class="block w-full pl-10 pr-10 py-4 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                placeholder="••••••••"
              />
              <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <button
                  type="button"
                  id="show-password"
                  class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500"
                >
                  <Icon
                    id="password-eye"
                    name="mdi:eye"
                    size={ 24 }
                    class="text-gray-400"
                  />
                  <Icon
                    id="password-eye-off"
                    name="mdi:eye-off"
                    size={ 24 }
                    class="text-gray-400 hidden"
                  />
                </button>
              </div>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
              />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                Recordarme 🔒
              </label>
            </div>
            <div class="text-sm">
              <a href="#" class="font-medium text-blue-600 hover:text-blue-500">
                ¿Olvidaste tu contraseña? 🤔
              </a>
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out"
            >
              Iniciar sesión 🚀
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</AuthLayout>
<script>
import Swal from 'sweetalert2'
import { navigate } from 'astro:transitions/client'

const { signIn } = await import( 'auth-astro/client' )

const signinForm = document.getElementById( 'signin-form' ) as HTMLFormElement

signinForm.addEventListener( 'submit', async ( event ) => {
  event.preventDefault()

  const formData = new FormData( signinForm )

  const response = await signIn( 'credentials', {
    email: formData.get( 'email' ) as string,
    password: formData.get( 'password' ) as string,
    redirect: false
  } )

  if ( response ) {
    Swal.fire( {
      icon: 'error',
      title: 'Error en el Inicio de sesión',
      text: `Parece que el correo electrónico o la contraseña son incorrectos`
    } )
    return
  }
  navigate( '/admin' )
})

const showPassword = document.getElementById( 'show-password' ) as HTMLButtonElement
const password = document.getElementById( 'password' ) as HTMLInputElement
const passwordEye = document.getElementById( 'password-eye' ) as HTMLElement
const passwordEyeOff = document.getElementById( 'password-eye-off' ) as HTMLElement

showPassword.addEventListener( 'click', () => {
  if ( password.type === 'password' ) {
    password.type = 'text'
    passwordEye.classList.add( 'hidden' )
    passwordEyeOff.classList.remove( 'hidden' )
  } else {
    password.type = 'password'
    passwordEye.classList.remove( 'hidden' )
    passwordEyeOff.classList.add( 'hidden' )
  }
})
</script>
