---
import { actions } from 'astro:actions'
import { Icon } from 'astro-icon/components'
import AdminLayout from '@/modules/admin/layouts/AdminLayout.astro'
import Title from '@/modules/shared/components/ui/Title.astro'
import CreateButton from '@/modules/shared/components/buttons/CreateButton.astro'
import ViewButton from '@/modules/shared/components/buttons/ViewButton.astro'
import EditButton from '@/modules/shared/components/buttons/EditButton.astro'

import 'sweetalert2/dist/sweetalert2.min.css'

const { data: servicesData, error: serviceError } = await actions.getAllServices()

if ( serviceError ) return Astro.redirect( '/admin' )

const { services } = servicesData
---

<AdminLayout>
  <div class="w-full px-4 py-8 flex flex-col gap-20 items-center md:px-12">
    <Title>👥 Administración de Servicios</Title>

    <div class="mb-4 flex justify-between items-center">
      <CreateButton
        href="/admin/services/create"
        icon="mdi:account-wrench-outline"
      >
        Agregar Servicio
      </CreateButton>
    </div>
    <div class="bg-white shadow-md rounded-lg">
      <div class="overflow-x-auto">
        <table class="w-full divide-y divide-gray-200 max-w-4xl">
          <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Título</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Descripción</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Imagen(Link)</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Estado</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            { services.map( ( service ) => (
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">{ service.title }</div>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{ service.description } </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap flex items-center justify-center">
                <div class="flex-shrink-0 h-10 w-10">
                  <img class="h-10 w-10 rounded-full" src={ service.imageUrl } alt="" />
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <span
                  class={`px-2 inline-flex text-xs leading-5 font-semibold rounded-full ${service.status ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}`}
                  id={`span-status-${ service.id }`}
                >
                  { service.status ? 'Activo' : 'Inactivo' }
                </span>
              </td>
              <td class="px-6 py-8 whitespace-nowrap text-sm font-medium flex items-center">
                <ViewButton href={`/admin/services/${ service.id }`} />
                <EditButton href={`/admin/services/edit/${ service.id }`} />
                <button
                  class="toggle-button"
                  data-id={ service.id }
                  data-current-status={ service.status }
                >
                  <Icon
                    name="mdi:delete"
                    size={ 20 }
                    class={ `text-red-600 hover:text-red-900 ${ ( !service.status ) ? 'hidden' : '' } delete-icon` }
                  />
                  <Icon
                    name="mdi:restore"
                    size={ 20 }
                    class={ `text-green-600 hover:text-green-900 ${ service.status ? 'hidden' : '' } restore-icon` }
                  />
                </button>
              </td>
            </tr>
            ) ) }
            {
              services.length === 0 && (
              <tr>
                <td class="px-6 py-4 whitespace-nowrap" colspan="10">
                  <div class="text-sm text-gray-500 text-center">No hay servicios registrados</div>
                </td>
              </tr>
            ) }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</AdminLayout>
<script>
import { actions } from 'astro:actions'
import Swal from 'sweetalert2'

const deleteButtons = document.querySelectorAll( '.toggle-button' )

deleteButtons.forEach( ( button ) => {
  button.addEventListener( 'click', async ( _e ) => {
    const id = button.getAttribute( 'data-id' )

    const currentStatus = button.getAttribute( 'data-current-status' ) === 'true'

    if ( !id ) return

    const { error } = await actions.toggleStatusService( { id, currentStatus } )

    if ( error ) {
      Swal.fire( {
        icon: 'error',
        title: 'Error al eliminar el usuario',
        text: 'No se pudo eliminar el usuario. Por favor, inténtelo de nuevo.',
      } )
      return
    }

    Swal.fire({
      icon: 'success',
      title: 'Perfecto!',
      text: `Se realizo la accion`,
    })

    button.setAttribute('data-current-status', (!currentStatus).toString())

    const statusSpan = document.querySelector( `#span-status-${ id }` ) as HTMLElement

    if ( !currentStatus ) {
      statusSpan.classList.add( 'bg-green-100' )
      statusSpan.classList.add( 'text-green-800' )
      statusSpan.classList.remove( 'bg-red-100' )
      statusSpan.classList.remove( 'text-red-800' )
      statusSpan.textContent = 'Activo'
    } else {
      statusSpan.classList.add( 'bg-red-100' )
      statusSpan.classList.add( 'text-red-800' )
      statusSpan.classList.remove( 'bg-green-100' )
      statusSpan.classList.remove( 'text-green-800' )
      statusSpan.textContent = 'Inactivo'
    }

    const deleteIcon = button.querySelector( '.delete-icon' ) as HTMLElement
    const restoreIcon = button.querySelector( '.restore-icon' ) as HTMLElement

    if ( !currentStatus ) {
      deleteIcon.classList.remove('hidden')
      restoreIcon.classList.add('hidden')
    } else {
      deleteIcon.classList.add('hidden')
      restoreIcon.classList.remove('hidden')
    }
  } )
} )
</script>
